body {
  margin: 0px;
  padding: 0px;
  background: gray;
}
.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}
.container {
  width: 770px;
  height: 434px;
  position: relative;
  top: 50%;
  margin: -190px auto;
}
.box {
  z-index: 1;
  position: relative;
  float: left;
  cursor: pointer;
  width: 190px;
  height: 390px;
  background: left top no-repeat;
  border-top: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  text-align: center;
}
.box span a {
  z-index: 5;
  top: 12px;
  left: 36px;
  width: 120px;
  text-align: center;
  position: absolute;
  color: #ffffff;
  font: 20px Verdana Arial;
  text-decoration: none;
}
.videobox {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  display: none;
}
.textbox {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 190px;
  height: 44px;
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
}
.hoverbox {
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 190px;
  height: 390px;
  background: url('../img/curtain.png') 0px 0px no-repeat, url('../img/curtain.png') 95px 0px no-repeat;
}
.hoverbox:hover {
  transition-property: background-position;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  background-position: -95px 0px, 190px 0px;
}
.last {
  border-right: solid 1px #ffffff;
}
.clearfix {
  clear: both;
}
.butbelow {
  float: left;
  position: relative;
  width: 190px;
  height: 44px;
  border-bottom: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  background: #210f0f;
}
#galleryImages {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
#galleryImages ul {
  list-style-type: none;
  padding: 0;
}
#galleryImages ul li {
  display: none;
}
#galleryImages ul li img {
  position: relative;
  top: 0;
  left: 0;
}
#galleryImages ul li.visible {
  display: block;
}
#leftHover {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 385px;
  height: 434px;
  left: 0;
  cursor: url('../img/prev.png'), pointer;
}
#rightHover {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 385px;
  height: 434px;
  left: 385px;
  cursor: url('../img/next.png'), pointer;
}
